
[submodule "third-party/chibicc"]
	path = third-party/chibicc
	url = https://github.com/rui314/chibicc
[submodule "third-party/MLC"]
	path = third-party/MLC
	url = https://github.com/zhoujingya/MLC
[submodule "third-party/How-to-build-an-LLVM-backend"]
	path = third-party/How-to-build-an-LLVM-backend
	url = https://github.com/zhoujingya/How-to-build-an-LLVM-backend.git
[submodule "third-party/Learn-LLVM-17"]
	path = third-party/Learn-LLVM-17
	url = https://github.com/PacktPublishing/Learn-LLVM-17
[submodule "third-party/musl"]
	path = third-party/musl
	url = https://github.com/zhoujingya/musl.git
[submodule "third-party/TinyInfiniTens"]
	path = third-party/TinyInfiniTens
	url = https://github.com/zhoujingya/TinyInfiniTensor
[submodule "third-party/miniMNIST-mojo"]
	path = third-party/miniMNIST-mojo
	url = https://github.com/zhoujingya/miniMNIST-mojo
